.apiOperationMethod {
  display: inline-block;
  width: 75px;
  color: #696969;
  text-transform: uppercase;

  &.get {
    color: #107C10;
  }

  &.post {
    color: #0F6CBD;
  }

  &.delete {
    color: #C50F1F;
  }

  &.put {
    color: #8e562e;
  }
}
