.operation {
  padding: 6px;
  margin-bottom: .5rem;
  border-radius: .25rem .25rem;
  border-left: 5px solid transparent;
  cursor: pointer;

  .name {
    width: 100%;
  }

  &:hover {
    background-color: #EBEBEB;
  }

  &.isSelected {
    background-color: #EBEBEB;
    border-left-color: #0F6CBD;
    border-radius: 0 .25rem .25rem 0;
    font-weight: 600;
  }

  &.nowrap {
    .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
