.apiListTableView {
  .typeCol {
    width: 8em;
  }

  td {
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    p {
      margin: 0;

      + p {
        margin-top: 1em;
      }
    }
  }

  .noRecordsCell {
    text-align: center;
  }
}
